/**
 * Site header
 */
.site-header {
    height: 8em;
    border-bottom: 1px solid $grey-color-light;

    background: #a0d8ef; /* Old browsers */
    background: -moz-linear-gradient(top, hsl(197,71%,78%) 0%, hsl(197,70%,92%) 65%, hsl(180,100%,100%) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, hsl(197,71%,78%) 0%,hsl(197,70%,92%) 65%,hsl(180,100%,100%) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, hsl(197,71%,78%) 0%,hsl(197,70%,92%) 65%,hsl(180,100%,100%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    margin-bottom: 1em;
}


.titleBlock {
    &,
    &:visited {
        color: $title-color;
    }

    &:hover {
      color: lighten($title-color, 5%)
    }

    float: left;

    .title {
      font-size: 4em;
      font-weight: 800;
      line-height: 2em;

      letter-spacing: -1px;
      margin-bottom: 0;
      margin-top: -0.2em;
    }


    .logo {
      float: left;
      margin-top: 0.5em;
      margin-right: 0.1em;
      width: 1em;
    }


    .subtitle {
      font-size: 1em;
      font-style: italic;
      margin-top: -1.45em;
      margin-left: 4.3em;
    }
}


.site-nav {
    float: right;
    line-height: 56px;
    margin-top: 2em;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        &,
        &:visited {
          color: $title-color;
        }

        &:hover {
          color: $brand-color;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    text-align: center;
    padding: 1.5em;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;

    h1 {
      font-weight: bold;
    }

    h2:not(.post-item-title) {
      margin-top: 1.5em;
    }
}


.page-heading {
    font-size: 20px;
}


.page-title {
  margin-bottom: 0;
}


/**
 * Posts
 */
 .post {
   text-align: center;
 }


.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2.5em;
    letter-spacing: -1px;
    line-height: 1;

    margin-bottom: 1em;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    p {
      font-family: "Times New Roman", serif;
      font-size: 1.5em;
      font-style: italic;
      line-height: 1.8em;
      margin-bottom: 1.5em;
    }
}


.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    font-size: 24px;
}



#backToHomePage {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 2em;
  font-weight: bold;
}



@include media-query($on-laptop) {
  .post-title {
    font-size: 2em;
    margin-top: 0;
  }

  .post-content p {
    font-size: 1em;
  }


  #backToHomePage {
    margin-top: 3em;
    margin-bottom: 1em;
  }
}
