@import "../scss/shared.scss";

.site-header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  height: 8em;
  border-bottom: 1px solid $grey-color-light;

  padding: 0.5em;

  background: #a0d8ef; /* Old browsers */
  background: linear-gradient(
    to bottom,
    hsl(197, 71%, 78%) 0%,
    hsl(197, 70%, 92%) 65%,
    hsl(180, 100%, 100%) 100%
  );

  margin-bottom: 1em;

  .title-block {
    display: inline-block;

    &,
    &:visited {
      color: $title-color;
    }

    &:hover {
      color: lighten($title-color, 5%);
    }

    .title {
      font-size: 4em;
      font-weight: 800;
      line-height: 2em;

      letter-spacing: -1px;
      margin-bottom: 0;
      margin-top: -0.2em;
    }

    .logo {
      float: left;
      margin-top: 0.5em;
      margin-right: 0.1em;
      width: 1em;
    }

    .subtitle {
      font-size: 1em;
      font-style: italic;
      margin-top: -1.45em;
      margin-left: 4.3em;
    }
  }

  .site-nav {
    display: inline-block;
    line-height: 56px;

    padding: 0.8em;
    padding-left: 3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    .menu-icon {
      display: none;
    }

    .page-link {
      font-size: 1.2em;
      line-height: $base-line-height;

      // Gaps between nav items, but not after the last one
      &:not(:last-child) {
        margin-right: 20px;
      }

      &,
      &:visited {
        color: $title-color;
      }

      &:hover {
        color: $brand-color;
      }
    }

    @include media-query($on-palm) {
      margin-top: 2em;
      padding: 0;

      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;

      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        padding-top: 10px;
        line-height: 0;
        text-align: center;

        > svg {
          width: 18px;
          height: 15px;

          path {
            fill: $grey-color-dark;
          }
        }
      }

      .trigger {
        clear: both;
        display: none;
      }

      &:hover .trigger {
        display: block;
        padding-bottom: 5px;
      }

      .page-link {
        display: block;
        padding: 5px 10px;

        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }
}
