@import "../scss/shared.scss";

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  .post-date {
    font-size: $small-font-size;
    color: $grey-color;
  }

  .post-link {
    font-size: 1em;
  }

  .post-title {
    font-weight: normal;
  }
}
