.compositions.list {
  padding-left: 1em;

  .composition-cover {
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    time {
      display: block;
      font-size: 0.8em;
      font-style: italic;
      color: silver;
      margin-bottom: 0.2em;
    }

    .title {
      font-size: 1.4em;
    }
  }
}

.composition {
  .title {
    font-family: "Crimson Pro", serif;
  }

  p {
    font-family: "Times New Roman", serif;
    margin-bottom: 1.5em;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5em;
    font-size: 1.3em;
  }

  .non-latin {
    font-style: normal;
  }

  rt {
    font-size: 0.75em;
  }

  sup {
    font-size: 0.65em;
    vertical-align: super;
  }
}
